<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>plugin</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>插件</title>
<modname>插件</modname>
<ver>8.0</ver>
<description>插件系统属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>95</ordernum>
<modurl>a_api.php</modurl>
<befoitem>NULL</befoitem>
<backitem>插件管理:a_api.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_plugins`;
CREATE TABLE IF NOT EXISTS `cms_plugins` (
  `hid` int(11) NOT NULL AUTO_INCREMENT,
  `id` varchar(50) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `auther` varchar(50) DEFAULT NULL,
  `title` varchar(50) DEFAULT NULL,
  `pluginname` varchar(50) DEFAULT NULL,
  `ver` varchar(10) DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`hid`),
  UNIQUE KEY `hid` (`hid`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_plugins`;]]></uninstallsql>
</mod>