<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>cactool</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>CAC</title>
<modname>CAC</modname>
<ver>1.0</ver>
<description>官方命令行及composer工具。</description>
<itemid>3</itemid>
<ordernum>97</ordernum>
<modurl>a_cactool.php</modurl>
<befoitem>NULL</befoitem>
<backitem>CAC面板:a_cactool.php,CAC任务:a_cactool_task.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_cactask`;
CREATE TABLE IF NOT EXISTS `cms_cactask` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cacname` int(11) DEFAULT '0',
  `orderstr` varchar(250) DEFAULT NULL,
  `starttime` datetime NOT NULL,
  `endtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_cactask`;]]></uninstallsql>
</mod>