<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>module</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>模块</title>
<modname>模块</modname>
<ver>8.0</ver>
<description>模块系统属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>94</ordernum>
<modurl>a_mod.php</modurl>
<befoitem>NULL</befoitem>
<backitem>模块管理:a_mod.php,安装模块:a_mods.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_mod`;
CREATE TABLE IF NOT EXISTS `cms_mod` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bid` int(11) DEFAULT '0',
  `modid` varchar(50) DEFAULT NULL,
  `modname` varchar(100) DEFAULT NULL,
  `modurl` varchar(200) DEFAULT NULL,
  `isopen` int(11) DEFAULT '0',
  `ordernum` int(11) DEFAULT '0',
  `look` int(11) DEFAULT '0',
  `othername` varchar(100) DEFAULT NULL,
  `befoitem` varchar(250) DEFAULT NULL,
  `backitem` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_mod`;]]></uninstallsql>
</mod>