<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>system</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>设置</title>
<modname>设置</modname>
<ver>8.0</ver>
<description>设置模块属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>99</ordernum>
<modurl>a_system.php</modurl>
<befoitem>NULL</befoitem>
<backitem>基础设置:a_system.php,语言设置:a_system_lang_set.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_setup`;
CREATE TABLE `cms_setup` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `authcode` varchar(100) DEFAULT NULL,
  `authapiurl` varchar(200) NOT NULL DEFAULT 'http://cms.usualtool.com/authurl.php',
  `copyright` varchar(10) DEFAULT '8.0',
  `country` varchar(20) DEFAULT 'zh-cn',
  `charset` varchar(10) DEFAULT 'utf-8',
  `cmscolor` int(11) DEFAULT '1',
  `template` varchar(30) NOT NULL DEFAULT 'templete/default',
  `webname` varchar(50) NOT NULL,
  `weburl` varchar(50) NOT NULL,
  `webkeyword` varchar(100) DEFAULT NULL,
  `webdescribe` varchar(200) DEFAULT NULL,
  `weblogo` varchar(150) DEFAULT NULL,
  `webisclose` int(11) NOT NULL DEFAULT '0',
  `develop` int(11) NOT NULL DEFAULT '0',
  `webicp` varchar(25) DEFAULT NULL,
  `webple` varchar(25) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `webtel` varchar(15) DEFAULT NULL,
  `webfax` varchar(15) DEFAULT NULL,
  `webqq` varchar(15) DEFAULT NULL,
  `webemail` varchar(25) DEFAULT NULL,
  `webother` varchar(255) DEFAULT NULL,
  `articlesku` varchar(255) DEFAULT 'author,source',
  `goodssku` varchar(255) DEFAULT 'spec,color',
  `priceretain` int(11) DEFAULT '2',
  `mailsmtp` varchar(100) DEFAULT NULL,
  `mailport` int(11) DEFAULT '465',
  `mailaccount` varchar(50) DEFAULT NULL,
  `mailpassword` varchar(50) DEFAULT NULL,
  `usercookname` varchar(50) NOT NULL DEFAULT 'usualtool_',
  `salts` varchar(100) DEFAULT 'usualtoolcms',
  `regdisplay` varchar(50) DEFAULT '0,0,0,0,0,0,0',
  `webtitle` varchar(20) DEFAULT NULL,
  `language` varchar(250) DEFAULT 'zh,en',
  `indexlanguage` varchar(50) DEFAULT 'zh',
  `indexunit` varchar(50) DEFAULT 'CNY',
  `indexoss` varchar(100) DEFAULT 'utcms',
  `indexeditor` varchar(100) DEFAULT 'utcms',
  `openhtml` int(11) DEFAULT '0',
  `installtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_water`;
CREATE TABLE IF NOT EXISTS `cms_water` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `water` int(11) DEFAULT '0',
  `water_type` varchar(20) DEFAULT 'text',
  `water_place` int(11) DEFAULT '5',
  `water_textcolor` varchar(20) DEFAULT '#B5B5B5',
  `water_textsize` int(11) DEFAULT '14',
  `water_text` varchar(50) DEFAULT 'usualtoolcms',
  `water_png` varchar(150) DEFAULT 'logo.png',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_setup`;DROP TABLE `cms_water`;]]></uninstallsql>
</mod>