<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>admin</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>管理</title>
<modname>管理</modname>
<ver>8.0</ver>
<description>管理模块含管理员账号、角色及日志的管理，属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>98</ordernum>
<modurl>a_admin.php</modurl>
<befoitem>NULL</befoitem>
<backitem>角色管理:a_admin_role.php,管理员账号:a_admin.php,登陆日志:a_admin_log.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_admin`;
CREATE TABLE `cms_admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `roleid` int(11) NOT NULL DEFAULT '1',
  `username` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `salts` varchar(100) DEFAULT NULL,
  `icon` varchar(150) NOT NULL DEFAULT 'admin.gif',
  `createtime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_admin_log`;
CREATE TABLE `cms_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `adminusername` varchar(50) NOT NULL,
  `ip` varchar(50) NOT NULL,
  `logintime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_admin_role`;
CREATE TABLE `cms_admin_role` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `rolename` varchar(100) NOT NULL,
  `ranges` varchar(250) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_admin`;DROP TABLE `cms_admin_log`;DROP TABLE `cms_admin_role`;]]></uninstallsql>
</mod>