<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>navigation</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>导航</title>
<modname>导航</modname>
<ver>8.0</ver>
<description>导航模块可自由建立前端及后端导航标题，属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>97</ordernum>
<modurl>a_nav.php</modurl>
<befoitem>NULL</befoitem>
<backitem>前端导航:a_nav.php,后端导航:a_nav_admin.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_nav`;
CREATE TABLE `cms_nav` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `place` varchar(10) NOT NULL,
  `linkname` varchar(20) NOT NULL,
  `linkurl` varchar(150) NOT NULL,
  `ordernum` int(11) NOT NULL DEFAULT '0',
  `target` varchar(20) DEFAULT '_self',
  `planid` int(11) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_nav_plan`;
CREATE TABLE `cms_nav_plan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `indexplan` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_nav`;DROP TABLE `cms_nav_plan`;]]></uninstallsql>
</mod>