<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>UTFrame</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>UTF基础前端</title>
<modname>UTF基础前端</modname>
<ver>8.0</ver>
<description>UTF基础前端属于系统底层模块，不可卸载，仅可修改。</description>
<itemid>3</itemid>
<ordernum>100</ordernum>
<modurl>NULL</modurl>
<befoitem>index.php,search.php,top.php,bot.php,error.php,cmsup.php,updating.php</befoitem>
<backitem>NULL</backitem>
<installsql><![CDATA[0]]></installsql>
<uninstallsql><![CDATA[0]]></uninstallsql>
</mod>