<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>templete</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>模板</title>
<modname>模板</modname>
<ver>8.0</ver>
<description>模板系统属于系统底层模块，不可卸载。</description>
<itemid>3</itemid>
<ordernum>96</ordernum>
<modurl>a_templete.php</modurl>
<befoitem>NULL</befoitem>
<backitem>模板管理:a_templete.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_templete`;
CREATE TABLE `cms_templete` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paths` varchar(50) DEFAULT NULL,
  `isopen` int(11) NOT NULL DEFAULT '0',
  `title` varchar(20) DEFAULT NULL,
  `version` varchar(10) DEFAULT NULL,
  `author` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_templete`;]]></uninstallsql>
</mod>